<p id="notice"><%= notice %></p>

<div class="panel panel-primary">
  <div class="panel-heading"><h1><center>Welcome to Post_It. </br> Just Post_It.</center></h1></div>
  <div class="panel-body">

  <% @posts.each do |post| %>
    <center><%= link_to image_tag(post.image.url(:medium)), post %></br>
    <div class="panel-footer panel-custom">
      <%= post.description %></br></center>
    </div></br>
    <% if post.user == current_user %>
      <div class="panel-footer panel-custom">
      <%= link_to 'Edit', edit_post_path(post) %></br>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></br>
      </div>
      </br>
    <% end %>
  <% end %> 

<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>